<div class="container p-2 ">
<form action="/clienteRoutes/add" method="post" class="w-50 mx-auto bg-light p-3 rounded shadow">
    <h3 class="text-center">Cadastro de Clientes</h3>
    <label for="nome">Nome:</label>
    <input class="form-control" type="text" name="nome" id="">
    <label for="idade">Idade:</label>
    <input type="number" class="form-control" name="idade" id="">
    <label for="sexo">Sexo:</label>
    <select name="sexo" id="" class="form-control">
        <option value="Feminino"> Feminino </option>
        <option value="Masculino"> Masculino </option>
    </select>
    <div class="w-100 text-center p-3">
    <input type="submit" name="" id="" class="btn btn-success text-center col-6"  value="Cadastrar">
    </div>
</form>