 {{#if emptyveiculos}}
    <div class="container text-center p-3 rounded alert-info text-info">
    <h5 class="">Não existem veiculos cadastrados ainda</h5>
    </div>
{{/if}}
<div class="container p-2">
{{#each veiculo}}
<label for="">Nome:</label>
    <p class="form-control ">{{this.nome}}</p>
    <div class="d-flex w-100">
    <form action="/veiculoRoutes/delete"  method="POST">
    <input type="hidden" name="id" value={{this.id}}>
    <button class="btn-danger btn col" type="submit"> Excluir</button></form>
    <form action="/veiculoRoutes/edit" method="POST" >
    <input type="hidden" name="id" value={{this.id}}>
    <button class="btn-info btn " type="submit"> Editar</button></form></div>
{{/each}}
</div>