
<form action="/veiculoRoutes/pesquisa"  method="post" class="w-25 mx-auto bg-light p-3 rounded shadow">
    <h5 class="text-center"> Pesquisa de Veículos</h5>
    <label for="">Insira o ID: </label>
    <input class="form-control " type="text" name="id" id="">
    <input type="submit" value="Pesquisar" class="btn-primary btn form-control mt-3">
</form>